langchain
langchain-community
langchain-core
langchain-openai
langchain-tavily
langgraph
langchain-mcp-adapters
pydantic
python-dotenv
requests
pydash
PyPDF2
fastapi
uvicorn[standard]
zhipuai
faiss-cpu
psycopg[binary,pool]
langgraph-checkpoint-postgres
rich
langgraph-cli[inmem]
pymilvus
langchain_milvus
PyMySQL
SQLAlchemy
