langchain
langchain-community
langchain-core
langchain-openai
langchain-tavily
langgraph
langgraph-checkpoint-postgres
psycopg[binary]
psycopg-pool
fastapi
pydantic
python-dotenv
rich
uvicorn[standard]
sqlmodel
alembic
asyncpg
greenlet
fastapi-fullauth[sqlmodel,redis]
